@model IEnumerable<Project.Models.Matiere>


@{

    ViewData["Title"] = "Home Page";
}
<body>


<section>
<h4>Liste des Matiéres</h4>
<hr />


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            @if(User.IsInRole("Administration")){
          <th>
               
              <a asp-action="AddandEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Matiere</a>
           
            </th>
           } 
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            @if(User.IsInRole("Administration")){
            <td>
                <a asp-action="AddandEdit" asp-route-id="@item.Id"><i class="fa fa-marker fa-lg"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger ml-1" onclick="return confirm('Voulez-vous vraiment supprimer?')"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
            }
        </tr>
}
    </tbody>
</table>

</section>
</body>


